  <div id='details' class='row'>
    <img src='images/burger2.jpg' class='col-xs-12 col-md-8'>
    <div class='col-xs-12 col-md-4'>
      <h2>Face burger</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ipsum corrupti possimus accusantium, suscipit, facere, dolor molestias expedita dolorem quo quaerat eos perferendis ullam eveniet libero accusamus? Libero, incidunt tenetur.</p>
      <div id='cart-btn' class='container row'>
        <button class='btn btn-info col-xs-12 col-sm-5 col-md-6 pull-left'>Add to cart</button>
        <b class='label label-default col-xs-12  col-sm-2 pull-right'>$5.50</b>
      </div>
    </div>
  </div>

  <b class='col-xs-12'> ~Additional Options~ </b>
  <div class='container row options'>
    <button class='btn btn-default col-xs-12 col-sm-4'>Onion Rings</button>
    <button class='btn btn-default col-xs-12 col-sm-4'>Fries</button>
    <button class='btn btn-default col-xs-12 col-sm-4'>Coca Cola</button>
  </div>
</div>
