
<div class="panel-group container-fluid row col-sm-4" id="accordion" role="tablist" aria-multiselectable="true">
    <h2> Menu </h2>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Top 3 Bestsellers
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <h4 class="foodItemTitle">The Billionaire Burger</h4>
        <p class="foodItemDescription"> This is one of our bestsellers for good reason. We triple the bacon, double the cheese and smother it all in a creamy chipolte mayo sauce.</p>
        <div class="orderPrice"><span class="price">$16.99</span> <button class="orderButton">More</button> </div>
        <h4 class="foodItemTitle">Triple Bacon Cheeseburger</h4>
        <p class="foodItemDescription"> This is one of our bestsellers for good reason. We triple the bacon, double the cheese and smother it all in a creamy chipolte mayo sauce.</p>
        <div class="orderPrice"><span class="price">$16.99</span> <button class="orderButton">More</button> </div>
        <h4 class="foodItemTitle">The Deluxe Burger</h4>
        <p class="foodItemDescription"> This is one of our bestsellers for good reason. We triple the bacon, double the cheese and smother it all in a creamy chipolte mayo sauce.</p>
        <div class="orderPrice"><span class="price">$16.99</span> <button class="orderButton">More</button> </div>

      </div>
    </div>

  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Burgers
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <h4 class="foodItemTitle">The Billionaire Burger</h4>
        <p class="foodItemDescription"> This is one of our bestsellers for good reason. We triple the bacon, double the cheese and smother it all in a creamy chipolte mayo sauce.</p>
        <div class="orderPrice"><span class="price">$16.99</span> <button class="orderButton">More</button> </div>
        <h4 class="foodItemTitle">Triple Bacon Cheeseburger</h4>
        <p class="foodItemDescription"> This is one of our bestsellers for good reason. We triple the bacon, double the cheese and smother it all in a creamy chipolte mayo sauce.</p>
        <div class="orderPrice"><span class="price">$16.99</span> <button class="orderButton">More</button> </div>
        <h4 class="foodItemTitle">The Deluxe Burger</h4>
        <p class="foodItemDescription"> This is one of our bestsellers for good reason. We triple the bacon, double the cheese and smother it all in a creamy chipolte mayo sauce.</p>
        <div class="orderPrice"><span class="price">$16.99</span> <button class="orderButton">More</button> </div>
        <h4 class="foodItemTitle">The Billionaire Burger</h4>
        <p class="foodItemDescription"> This is one of our bestsellers for good reason. We triple the bacon, double the cheese and smother it all in a creamy chipolte mayo sauce.</p>
        <div class="orderPrice"><span class="price">$16.99</span> <button class="orderButton">More</button> </div>
        <h4 class="foodItemTitle">Triple Bacon Cheeseburger</h4>
        <p class="foodItemDescription"> This is one of our bestsellers for good reason. We triple the bacon, double the cheese and smother it all in a creamy chipolte mayo sauce.</p>
        <div class="orderPrice"><span class="price">$16.99</span> <button class="orderButton">More</button> </div>
        <h4 class="foodItemTitle">The Deluxe Burger</h4>
        <p class="foodItemDescription"> This is one of our bestsellers for good reason. We triple the bacon, double the cheese and smother it all in a creamy chipolte mayo sauce.</p>
        <div class="orderPrice"><span class="price">$16.99</span> <button class="orderButton">More</button> </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Sides
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <h4 class="foodItemTitle">Fries</h4>
        <p class="foodItemDescription"> A classic side dish. Pairs well with any Zuckerburger</p>
        <div class="orderPrice"><span class="price">$6.99</span> <button class="orderButton">More</button> </div>
        <h4 class="foodItemTitle">Salad</h4>
        <p class="foodItemDescription"> Side salad prepared with fresh, locally sourced vegetables.</p>
        <div class="orderPrice" ><span class="price">$10.99</span> <button class="orderButton">More</button> </div>
        <h4 class="foodItemTitle">Yam Fries</h4>
        <p class="foodItemDescription"> A classic side dish. Pairs well with any Zuckerburger</p>
        <div class="orderPrice"><span class="price">$9.99</span> <button class="orderButton">More</button> </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Drinks
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse drinkPanel" role="tabpanel" aria-labelledby="headingFour>
      <div class="panel-body">
        <h4 class="foodItemTitle">Pop</h4>
        <p class="foodItemDescription"> Pepsi, RootBeer, Gingerale </p>
        <div class="orderPrice"><span class="price">$2.50</span> <button class="orderButton">More</button> </div>
        <h4 class="foodItemTitle">Bottled Water</h4>
        <p class="foodItemDescription"> Spring or Distilled</p>
        <div class="orderPrice"><span class="price">$2.99</span> <button class="orderButton">More</button> </div>
        <h4 class="foodItemTitle">Iced Tea</h4>
        <p class="foodItemDescription"> Iced Tea or Lemmonade made fresh in house daily</p>
        <div class="orderPrice"><span class="price">$2.99</span> <button class="orderButton">More</button> </div>
      </div>
    </div>
  </div>
</div>
