*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body .navbar-header .navbar-brand {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  color: #ecefc7;
}

body .jumbotron {
  height: 100%;
}

body .navbar {
  background-color: #302f2f;
  margin: 0;
  height: 130px;
  border-radius: 0px;
  border: 1px solid #302f2f;
  top: 0;
  z-index: 1;
  width: 100%;
}

body .dropdown {
  margin: 50px;
}

body .dropdown button {
  background-color: #ecefc7;
}

body .navbar-brand {
  padding-bottom: 5px;
}

body .navbar-right li .navbar-text {
  color: #ecefc7;
  padding: 10px 30px 0 0;
  font-size: 0.8em;
  letter-spacing: .5em;
  line-height: 80px;
}

body .background {
  background-image: url(../images/burgerBackground.jpg);
  background-size: cover;
  height: 100%;
  border-radius: 0px;
  margin-top: -50px;
}

body .background .cta {
  margin-left: 4%;
  height: 700px;
  padding-top: 450px;
}

body .background #viewMenu {
  color: #ecefc7;
  color: #302f2f;
  background-color: #302f2f;
  background-color: #ecefc7;
  padding: 10px 40px;
  border: 1px solid #ecefc7;
  box-shadow: 7px 7px 5px;
  font-size: 1.3em;
}

body .background #viewMenu:hover {
  opacity: 0.5;
}

body .background #menu {
  display: none;
}

body .background #menu #details {
  margin: 50px;
  webkit-transform: translateY(500px);
}

body .background #menu b {
  line-height: 25px;
  text-align: center;
}

body .background #menu #cart-btn {
  margin-bottom: 20px;
}

body .background #menu #cart-btn .label {
  padding: 20px;
}

body .background #menu .options .active {
  background-color: #5bc0de;
}

body .background #accordion {
  overflow-y: auto;
  overflow-x: hidden;
  height: 650px;
  webkit-transform: translateY(500px);
}

body .background #accordion h2 {
  margin: 0;
  padding: 0;
}

body .background #accordion hr {
  margin: 2px;
}

body .background #accordion .panel-body {
  padding: 2px 10px;
}

body .background #accordion .dish:hover {
  background-color: #ccc;
}

body .background #accordion h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body .background #accordion .price {
  text-align: right;
}

body .card {
  background-color: white;
  border-radius: 5px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

body .card-title {
  text-align: center;
}

body .card-text {
  text-align: center;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: bold;
}

body .card-block {
  display: none;
}

body .card-block .btn {
  border: 1px solid #302f2f;
  background-color: white;
  font-size: .8em;
  padding: 2px 10px;
}

body .sidePrice {
  font-size: 1em;
}
