
body {
  background-color: #EEE;
  .navbar-header .navbar-brand {
    font-size: 2em;
    color: #e5da62;

  }
  .navbar{
    background-color: #333;
    margin:0;
    height:10%;
  }
  i{
    color:white;
  }
  .jumbotron {
    height: 100%;
    .cta{
      margin-left: 20%;
      height:20%;
      padding-top: 300px;
    }
    #menu{
      display:none;
      #details{
        margin:50px;
      }
      b{
        line-height: 25px;
        text-align: center;
      }
      #cart-btn{
        margin-bottom:20px;
      }
      .options {
        .active{
          background-color:#5bc0de;
        }
      }
    }
    #accordion{
      overflow-y:auto;
      overflow-x: hidden;
      height:650px;
      h2{
        margin:0;
        padding:0;
      }
      hr{
        margin:2px;
      }
      .panel-body{
        padding:2px 10px;
      }
      .dish:hover{
        background-color: #ccc;
      }
      h4{
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
      }
      .price{
        text-align: right;
      }
    }
  }
}
