*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

body,html{
  height:100%;
}
body {

    .navbar-header .navbar-brand {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    color: #ecefc7;
  }
  .jumbotron{
    height:100%;
  }
  .navbar{
    background-color: #302f2f;
    background-color: #282520;
    margin:0;
    height:130px;
    border-radius: 0px;
    border: 1px solid #302f2f;
    // position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
  }
  .dropdown{
    margin: 50px;
    button{
      background-color: #ecefc7;
    }
  }
  .navbar-brand{
  padding-bottom:5px;

  }
  .navbar-right li .navbar-text{
    color: #ecefc7;
    padding: 10px 30px 0 0;
    font-size: 0.8em;
    letter-spacing: .5em;
    line-height: 80px;
  }

  .background {
    background-image: url(../images/burgerBackground.jpg);
    background-size:cover;
    height: 100%;
    border-radius: 0px;
    margin-top:-50px;
    .cta{
      margin-left: 4%;
      height: 700px;
      padding-top: 450px;
    }

    #viewMenu{
    color: #ecefc7 ;
    color: #302f2f;
    background-color: #302f2f;
    background-color: #ecefc7;
    padding: 10px 40px;
    border: 1px solid #ecefc7;
    box-shadow: 7px 7px 5px;
    font-size: 1.3em;
    }

    #viewMenu:hover{
      opacity: 0.5;
    }


    #menu{
      display:none;

      #details{
        margin: 50px;
        webkit-transform: translateY(500px);
      }

      b{
        line-height: 25px;
        text-align: center;
      }
      #cart-btn{
        margin-bottom:20px;
        .label{
          padding:20px;
        }
      }

      .options {
        .active{
          background-color:#5bc0de;
        }

      }
    }

    #accordion{
      overflow-y:auto;
      overflow-x: hidden;
      height:650px;
      webkit-transform: translateY(500px);

      h2{
        margin:0;
        padding:0;
      }
      hr{
        margin:2px;
      }
      .panel-body{
        padding:2px 10px;
      }
      .dish:hover{
        background-color: #ccc;
      }
      h4{
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
      }
      .price{
        text-align: right;
      }

    }
  }
  .card{
    background-color: white;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-bottom: 5px;
  }
  .card-title{
    text-align: center;
  }
  .card-text{
  text-align: center;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: bold;
  }
  .card-block{
    display: none;
  }
  .card-block .btn {
    border: 1px solid #302f2f;
    background-color: white;
    font-size: .8em;
    padding: 2px 10px;
  }
  .sidePrice{
    font-size: 1em;
  }

  .btn-info{
    background-color: #282520;
    color: #ecefc7;
    color: #eee;
    border: 1px solid #ecefc7;
  }

  .btn-info:hover{
    background-color: #eee;
    color: #282520;
    border: 1px solid #282520;
    box-shadow: 0 4px 4px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
  }
@media(max-width: 1000px){
  h4 {font-size: 1em;}
}
  h2 {font-size: 1.5em;}

  @media(max-width: 765px){

    #details{
      width: 90%;
      margin: 0 auto;
    }

  }


}







